.place-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 calc((100% - 2 * 50px) / 3); /* Assuming 20px is the desired gap */
    margin-top: 10px; /* Half of your gap on all sides */
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .place-card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
  }
  .place-card-container1 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
  }
  .place-card-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .place-card-text1 {
    font-size: 15px;
    max-width: 250px;
    margin-bottom: var(--dl-space-space-doubleunit);
    text-align: center;
  }
  @media(max-width: 767px) {
    .place-card-container {
      width: 200px;
    }
  }
  @media(max-width: 479px) {
    .place-card-container {
      width: 300px;
    }
  }
  
  .button-40 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: .75rem 1.5rem;
    }
  }
  