.HeaderOne {
    font-weight: Bold;
    color: black;
    text-decoration: underline;
}

.gray {
    color: black;
    list-style-type: square;
}

li {
    list-style-type: square;
}

ul {
    list-style-type: square;
}

