/* NavBar.css */
h1 {
    font-size: 30px; /* Reduced font size */
    font-family: "DejaVu Sans Mono", monospace; /* Change font family to Poppins */
}

.landing-page-top-container-navbar-edition {
    background-color: rgb(16, 163, 163); /* Teal color for the navbar */
    padding: 5px 20px; /* Reduced top and bottom padding */
    height: 100px;
  }
  
  .landing-page-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .landing-page-right-side {
    display: flex;
    align-items: center;
  }
  
  .landing-page-links-container {
    display: flex;
    gap: 10px; /* Adjust the gap between links */
  }
  
  .landing-page-text {
    color: #faf7f7; /* Text color */
    text-decoration: none;
    font-size: 17px; /* Reduced font size */
    font-family:monospace; /* Change font family to Poppins */
  }
  
  .landing-page-text:hover {
    color: #007bff; /* Change color on hover */
  }
  
  /* Adjust styles for profile icon if needed */
  .landing-page-text:last-child img {
    width: 25px; /* Adjusted width */
    height: auto; /* Maintain aspect ratio */
  }
  