.background-image-activites-page {
    background-color: rgb(249, 247, 247);
}

.landing-page-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust if you want a different distribution */
    gap: 20px; /* This creates space between the items */
    max-width: 1000px;
    margin: auto; /* Center the container in the page */
    }