.two-big-charts{
    display: flex;
    background-color: white;
}

.line-chart{
    background-color:white;
    width: 700px;
}

.pie-chart {
    margin: 10px;
    border-color: gray;
    padding-left: 35px;
    border-left: 5px solid lightgray;
}

.last-containaaa {
    display: flex;
}

.barchart {
    width: 33%;
    margin-right: 15px;
}

/* basic */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font: 16px/1.2 "Roboto", sans-serif;
  color:black;
}
a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}
.blog {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* container */
.container {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

/* leaderboard */
.leaderboard {
  background: white;
}
.right_col {
    border-top: 2px solid gray;
}

.two-big-charts {
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}


.numbers .two-big-charts .last-containaaa {
    border: 100px solid black;
}
/* head */
.leaderboard {
    margin-left: 40px;
}
.leaderboard .head {
  padding: 20px 16px;
  margin-left: 40px;
  color: black;
  font-size: 20px;
  text-align: center;
  
}
.leaderboard .head h1 {
  display: inline-block;
  margin-left: 4px;
}

/* body */
.leaderboard .body {
  color: snow;
  font-size: 16px;
}
.leaderboard ol {
  counter-reset: number; /* 定義和初始化計數器 */
}
.leaderboard li {
  padding: 16px;
  display: flex;
}
.leaderboard li mark {
  flex-grow: 1;
  color: snow;
  background-color: transparent;
}
.leaderboard li:before {
  counter-increment: number; /* 遞增計數器 */
  content: counter(number) "."; /* 顯示計數器 */
  margin-right: 4px;
}
.leaderboard li:nth-child(1) {
  background: #fa6855;
}
.leaderboard li:nth-child(2) {
  background: #e0574f;
}
.leaderboard li:nth-child(3) {
  background: #d7514d;
}
.leaderboard li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard li:nth-child(5) {
  background: #c24448;
}

.line-chart-card {
    height: 1000px;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
  }
  
  *, :after, :before {
    box-sizing: border-box;
  }
  
  html, body {
      width: 100%;
      height: 100%;
  }
  
  
  body {
    color: #73879C;
    background: white;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
  }
  
  a {
      text-decoration: none;
    color: #5A738E;
  }
  
  li {
      list-style: none;
  }
  
  .nav-md .container.body .left_col {
      min-height: 100%;
      width: 230px;
      padding: 0;
      position: absolute;
      display: flex;
      z-index: 1;
  }
  
  .left_col {
      background: #2A3F54;
      overflow: hidden;
  }
  
  .main_container .top_nav {
    display: block;
    margin-left: 230px; 
  }
  
  .nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
    overflow: hidden;
  }
  
  body .container.body .right_col {
      background: #f7f7f7;
  }
  
  
  
  .navbar {
      margin-bottom: 0;
  }
  
  .nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px;
  }
  
  .site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    text-align: center;
  }
  
  .nav_menu {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    width: 100%;
    position: relative;
  }
  
  .toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
  }
  
  .toggle a {
    padding: 15px 15px 0;
    margin: 0;
    cursor: pointer;
  }
  
  .toggle a i {
    font-size: 26px;
  }
  
  .top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
  }
  
  .top_nav .navbar-right li {
    display: inline-block;
    float: right;
  }
  
  
  .nav.navbar-nav>li>a {
    color: #515356!important;
  }
  
  .navbar-nav>li>a {
    font-weight: 500;
    line-height: 56px;
  }
  
  .nav>li>a {
    padding: 13px 15px 12px;
  }
  
  .nav>li>a>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  img {
      vertical-align: middle;
  }
  
  
  .row {
    margin-right: -10px;
    margin-left: -10px;
    overflow: hidden;
  }
  
  .kpi_tiles {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .kpi_tiles .kpi {
    margin-bottom: 10px;
    border-bottom: 0;
    padding: 0 10px 0 20px;
  }
  
  .kpi_tiles .kpi span {
    font-size: 13px;
  }
  
  .kpi_tiles .kpi .count {
    line-height: 47px;
    font-weight: 600;
  }
  .green {
      color: #1ABB9C;
  }
  .red {
      color: #E74C3C;
  }
  .kpi_tiles .kpi .count {
    font-size: 40px;
  }
  .col1, .col2, .col3, .col4, .col5, .col6 {
      position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }
  .col1 {
    width: 16.66666667%;
  }
  .col2 {
      width: 100%;
  }
  .col3 {
      width: 50%;
  }
  .col4 {
      width: 75%;
  }
  
  .col5 {
    width: 25%;
  }
  .col6 {
    width: 33.33333333%;
  }
  
  .kpi {
      border-right: 2px solid #D9DEE4;
  }
  .kpi_last {
      border-right: none;
  }
  
  .dashboard_graph {
    background: #fff;
    padding: 7px 10px;
  }
  
  .dashboard_graph .titles {
    padding: 5px 5px 7px;
  }
  
  .dashboard_graph p {
      margin: 0 0 4px;
  }
  
  .titles {
    border-bottom: 2px solid #E6E9ED;
    margin-bottom: 10px;
  }
  
  
  .dashboard_graph .titles h3 {
    margin: 0;
    font-weight: 400;
  }
  
  .h3, h3 {
    font-size: 24px;
  }
  
  h3 small{
    color: #777;
    font-size: small;
  }
  
  #reportrange {
      background: #fff;
      cursor: pointer;
      padding: 5px 10px; 
      border: 1px solid #ccc;
  }
  
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .bg_white {
    background: white;
  }
  .chart_box {
      box-sizing: border-box;
    margin: 15px 0 15px 0;
  
  }
  
  #chart_01,#chart_02 {
    width: 700px;
    height: 265px;
  }
  
  .titles h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    overflow: hidden;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 400;
  }
  
  .progress {
    position: relative;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    overflow: hidden;
  }
  
  .progress.progress_sm {
    border-radius: 0;
    margin-bottom: 18px;
  }
  
  .progress.progress_sm, .progress.progress_sm .progress-bar {
      height: 10px!important;
  }
  
  .progress-bar {
    float: left;
    font-size: 12px;
    text-align: center;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
  }
  
  
  
  .bg-green {
    background: #1ABB9C!important;
    border: 1px solid #1ABB9C!important;
    color: #fff;
  }
  
  .panel_3 {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
  }
  
  .panel_3, .titles {
    margin-bottom: 10px;
  }
  .fix_height {
    height: 320px;
  }
  
  .panel_content {
      padding: 0 5px 6px;
      float: left;
      clear: both;
      margin-top: 5px;
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 230px;
    margin-bottom: 40px;
  
  }
  
  .size {
    width: 300px;
    height: 300px;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  .ratings {
    margin: 0;
    padding: 0;
    font-family:"DejaVu Sans Mono", monospace;
    background: #eee;
    font-size: 30px;
    color:black;
}

                                   .ratings{
                                       width: 420px;
                                       margin-top: 75px;
                                       margin-left: 85px;
                                   }

                                   .ratings{

                                       background-color:lightgray;
                                           padding: 54px;
                                           border: 1px solid rgba(0, 0, 0, 0.1);
   box-shadow: 0px 10px 10px #E0E0E0;
                                   }

                                   .product-rating{

                                       font-size: 50px;
                                   }

                                   .stars i{

                                       font-size: 18px;
                                       color: #28a745;
                                   }

                                   .rating-text{
                                       margin-top: 10px;
                                   }
