.sometitle {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100px; /* Adjust the height as needed */
    font-size: 18px;
  }

  .my-events {
    background-color: rgb(165, 239, 225);
  }

  .admin-event-card {
    margin-top: 20px;
  }
  
  .admin-event-details-button {
    margin-right: 10px;
  }

  .admin-event-title{
    padding-bottom: 5px;
    color: black;
  }

  .admin-event-description {
    padding-bottom: 15px;
  }